<header><nav class="pagecontain">

  <p id="logo"><a href="./"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M40 28H5v45h9v15l20-15h29V55h5l18 15V55h9V12H40zm15 37H31l-9 6v-6h-9V36h42zm32-45v27h-9v6l-7-6h-8V28H48v-8z"/></svg> intl</a></p>

  <ul>
    <li<% if (meta.menuActive == 'date') { %> class="active"<% } %>><a href="./">date</a></li>
    <li<% if (meta.menuActive == 'unit') { %> class="active"<% } %>><a href="./unit.html">unit</a></li>
    <li<% if (meta.menuActive == 'list') { %> class="active"<% } %>><a href="./list.html">list</a></li>
    <li<% if (meta.menuActive == 'plural') { %> class="active"<% } %>><a href="./plural.html">plural</a></li>
  </ul>

</nav></header>
