<div class="scroller">

  <table id="<%= meta.menuActive %>table" summary="translation">
    <thead>
      <tr><th>locale</th><th class="value"><%= meta.title %></th>
    </thead>
    <tbody id="result">
      <tr><th title="your locale">local</th><td></td></tr>
      <tr><th title="US English">en-US</th><td></td></tr>
      <tr><th title="UK English">en-GB</th><td></td></tr>
      <tr><th title="Canadian English">en-CA</th><td></td></tr>
      <tr><th title="Australian English">en-AU</th><td></td></tr>
      <tr><th title="Spanish">es-ES</th><td></td></tr>
      <tr><th title="Mexican Spanish">es-MX</th><td></td></tr>
      <tr><th title="French">fr-FR</th><td></td></tr>
      <tr><th title="German">de-DE</th><td></td></tr>
      <tr><th title="Italian">it-IT</th><td></td></tr>
      <tr><th title="Portuguese">pt-PT</th><td></td></tr>
      <tr><th title="Polish">pl-PL</th><td></td></tr>
      <tr><th title="Welsh">cy-GB</th><td></td></tr>
      <tr><th title="Icelandic">is-IS</th><td></td></tr>
      <tr><th title="Kazakh">kk-KZ</th><td></td></tr>
      <tr><th title="Afrikaans">af-AF</th><td></td></tr>
      <tr><th title="Zulu">zu-ZU</th><td></td></tr>
      <tr><th title="Russian">ru-RU</th><td></td></tr>
      <tr><th title="Arabic (Saudi Arabia)">ar-SA</th><td></td></tr>
      <tr><th title="Hebrew">he-HE</th><td></td></tr>
      <tr><th title="Bengali">bn-BN</th><td></td></tr>
      <tr><th title="Vietnamese">vi-VI</th><td></td></tr>
      <tr><th title="Chinese">zh-CN</th><td></td></tr>
      <tr><th title="Japanese">ja-JP</th><td></td></tr>
    </tbody>
  </table>

</div>
