// block styles
p {
  margin-top: 1em;
}

svg {
  height: 1.5em;
  vertical-align: middle;
}

strong, b {
  font-weight: $type_body_bold;
}

pre, code {
  font-family: consolas, monospace;
  font-size: 1rem;
  padding: 0.2em 0.5em;
  color: $color_back_0;
  background-color: $color_hint_1;
  border: 1px solid $color_fore_0;
  border-radius: $layout_border_radius;
}

pre {
  width: 100%;
  margin: 6px 0;
  overflow: auto;
  user-select: all;

  code {
    padding: 0;
    border: 0 none;
  }
}
